mat-chip{
    width: 80%;
    color:white !important;
    font-size:12px
}

.piller{
    width: 80%;
    display: block;
    border-color: white;
    border-radius: 4px;
    padding: 3px;
    margin-bottom: 2px;
    cursor:pointer;
}