<div class="calendar__wrapper">
  <div class="calendar" >
    <div class="calendar__navs">

      <div class="calendar__month-nav  col s12">
        <button mat-button color="primary" class="calendar__nav-btn__left" (click)="prevMonth()">&lt;</button>
        <span class="calendar__nav-name">
          {{ today.format('MMMM') || titleCase }}
          {{ today.format('YYYY') }}
        </span>
        <button  mat-button color="primary" class="calendar__nav-btn__right" (click)="nextMonth()">
          &gt;
        </button>
      </div>
    </div>

    <table class="calendar__table col s12">
      <tr class="calendar__table__header">
        <th class="calendar__table__header__day-name" *ngFor="let name of days">
          {{ name }}
        </th>
      </tr>

      <tr class="calendar__table__week" *ngFor="let week of weeks">
        <ng-container *ngFor="let day of week">
          <td class="calendar__table__date" (click)="selectDate(day)">
            <app-day-cell (selectAppointment)="selectAppointment($event)" [day]="day"></app-day-cell>
          </td>
        </ng-container>
      </tr>
    </table>
  </div>
</div>
