<div class="calendar__wrapper">
  <!-- <div class="calendar__input-wrapper" (click)="show = !show">
    <input readonly class="calendar__input" [(ngModel)]="selectedDate" />
  </div> -->
  <div class="calendar" >
    <div class="calendar__navs">
      <div class="calendar__month-nav">
        <button class="calendar__nav-btn" (click)="prevMonth()">&lt;</button>
        <span>
          {{ today.format('MMMM').toUpperCase() }}
          {{ today.format('YYYY') }}
        </span>
        <button class="calendar__nav-btn" (click)="nextMonth()">
          &gt;
        </button>
      </div>
    </div>
    <!-- separate here into components -->

    <table class="calendar__table col s12">
      <tr class="calendar__table__header">
        <th class="calendar__table__header__day-name" *ngFor="let name of days">
          {{ name }}
        </th>
      </tr>

      <tr class="calendar__table__week" *ngFor="let week of weeks">
        <ng-container *ngFor="let day of week">
          <td class="calendar__table__date" (click)="selectDate(day)">
            <app-day-cell (selectAppointment)="selectAppointment($event)" [day]="day"></app-day-cell>
          </td>
        </ng-container>
      </tr>
    </table>
    <!-- separate here into components -->
  </div>
</div>
