<h1>Event Manager</h1>
<app-calendar
  [appointments$]="appointments$"
  (daySelected)="calendarDaySelected($event)"
  (monthChanged)="calendarMonthChanged($event)"
  (appointmentSelected)="calendarAppointmentSelected($event)"
></app-calendar>
<!-- <app-day-schedule></app-day-schedule> -->
<app-appointment
  [selectedDate]="selected"
  [cities]="cities"
  [selectedAppointment]="selectedAppointment"
  (appointmentCreated)="appointmentCreated($event)"
  (cityChanged)="cityChanged($event)"
>
</app-appointment>
