<h1>Event Manager</h1>
<app-calendar
  [appointments$]="appointments$"
  (daySelected)="calendarDaySelected($event)"
  (monthChanged)="calendarMonthChanged($event)"
  (appointmentSelected)="calendarAppointmentSelected($event)"
></app-calendar>
<app-appointment
  [selectedDate]="selected"
  [cities]="cities"  
  [selectedAppointment]="selectedAppointment"
  (appointmentCreated)="appointmentCreated($event)"
  (cityChanged)="cityChanged($event)"
  (appointmentRemoved)="appointmentRemoved($event)"
>
<app-forecast-viewer [dayForecast]="dayForecast" [icon]="forecastIcon"></app-forecast-viewer>
</app-appointment>
