<mat-card>
  <mat-card-title>
    <span class="calendar__number" [ngClass]="day.classNames">{{ day.date.date() }}</span>
  </mat-card-title>
  <mat-card-content>
    <ng-container *ngIf="day && day.appointments">
      <app-appointment-cell
        [appointments]="day.appointments"
        (appointmentSelected)="appointmentSelected($event)"
      ></app-appointment-cell>
    </ng-container>
  </mat-card-content>
  <!-- <mat-card-footer> -->
  <mat-card-actions>
    <button mat-button color="primary" (click)="NewAppointment($event, day)">
      Add
    </button>
    <button mat-raised-button color="primary" (click)="removeAllAppointment($event)">
      Remove all
    </button>
  </mat-card-actions>
  <!-- </mat-card-footer> -->
</mat-card>
