$colors: (
 selected:#7ed321,
 offGrid:#cccccc,
 today:#f1951c,
 weekend:#2942ce
);


.calendar {
  &__number {
    font-size: 12px;
  }
}

.offMonth {
  color: map-get($colors , offGrid );
}

.weekend {
  color: map-get($colors , weekend );
}

.today {
  color: map-get($colors , today ) ;
}

.selected {
  background-color: map-get($colors , selected );
}
mat-card{
  box-shadow:0 0 0 0;
}